<div align="center" class="form-group">    
    <div class ="col-sm-12">
        <%= link_to "Create New Article" ,new_article_path , class: "btn btn-primary btn-lg" %>
    </div>
</div>
<h1 align="center" ><br>Listing all articles</h1>

<% @articles.each do |art| %>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="art-title">
                    <%= link_to art.title, article_path(art) %>
                </div>
                <div class="art-body">
                    <%= truncate(art.descripton, length: 100) %> <!--truncate used to collabse the text area to certain length-->
                    
                </div>
                <div class="article-actions">
                    <%= link_to "Edit",edit_article_path(art), class: "btn btn-xs btn-primary" %>
                    <%= link_to "Delete",article_path(art), method: :delete, 
                                         data:{confirm: "Are you sure you want to delete"},
                                         class: "btn btn-xs btn-danger" %>
                </div>
            </div>
        </div>
    </div>
<% end %>
